body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", serif;
}

/* New class for the text */
.top-text {
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: "Red Hat Display", serif;
    font-size: 48px;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.paragraph {
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.container-form {
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

/* New class for the additional text container */
.additional-text-container {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.additional-text-container img {
    margin-right: 20px;
}

.additional-text-container-right {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.additional-text-container-right img {
    margin-left: 20px;
}

.additional-text-container img,
.additional-text-container-right img {
    height: 227px;
    width: 435px;
    margin: 0;
}

.section {
    display: flex;
    align-items: center;
    margin-left: 160px;
    margin-right: 120px;
    margin-bottom: 40px; /* Added margin-bottom */
}

.section .text {
    flex: 0 0 75%;
    max-width: 75%;
}

.section .image {
    flex: 0 0 15%;
    max-width: 25%;
    text-align: right;
}

h3 {
    font-family: "Red Hat Display", serif;
    font-size: 32px;
    text-align: left;
    margin-right: 120px;
}