body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", serif;
}


.container-body {
    height: 100vh;
    margin: auto;
    margin-bottom: 100px;
}

.container-body2 {
    height: 100vh;
    margin: auto;
    margin-bottom: 200px;
}
.col-perfil {
    padding-left: 10%;
    padding-right: 10%;
}

.btn-primary {
    background-color: #24ADED;
    border: #24ADED;
    padding: 10px 15px;
}

.btn-primary:hover {
    background-color: #1875A1;
}

.btn-danger {
    padding: 15px 30px;
}

.btn-parking-libre {
    background-color: #00FF00 !important;
    border: #00FF00;
    height: 70px;
    width: 35px;
}

.btn-parking-reservado {
    background-color: #24ADED;
    border: #24ADED;
    height: 70px;
    width: 35px;
}

.btn-parking-ocupado {
    background-color: #FC1E1E;
    border: #FC1E1E;
    height: 70px;
    width: 35px;
}

.parking-card {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 200px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parking-card.bg-success {
    background-color: #08b208 !important;
    color: white;
}

.parking-card.bg-danger {
    background-color: #dc3545;
    color: white;
}

.parking-section {
    display: flex;
    flex-wrap: wrap;
}

/* CSS DE HOME */
.texto-superior {
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: "Red Hat Display", serif;
    font-size: 48px;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.paragraph {
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.container-form {
    height: 60vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.container-form2 {
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}


.seccion-container {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.seccion-container img {
    margin-right: 20px;
}

.seccion-container-right {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    font-family: "Red Hat Display", serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.seccion-container-right img {
    margin-left: 20px;
}

.seccion-container img,
.seccion-container-right img {
    height: 227px;
    width: 435px;
    margin: 0;
}

/* CSS DE INFO */
.section {
    display: flex;
    align-items: center;
    margin-left: 160px;
    margin-right: 120px;
    margin-bottom: 40px;
}

.section .text {
    flex: 0 0 75%;
    max-width: 75%;
}

.section .image {
    flex: 0 0 15%;
    max-width: 25%;
    text-align: right;
}

h3 {
    font-family: "Red Hat Display", serif;
    font-size: 32px;
    text-align: left;
    margin-right: 120px;
}

.btn-info {
    width: 300px;
    height: 82px;
    display: inline-block;
    margin: 0 25px; 
    text-align: center;
    line-height: 82px; 
    font-family: "Red Hat Display", serif;
    font-size: 32px;
    color: #fff;
    background-color: #22A8E6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #1875A1;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

/* Footer styles */
footer {
    background-color: #0E445D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

footer img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

footer .footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

footer .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
}

footer .footer-column a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

footer .footer-column a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #0E445D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

header img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

header .icons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

header .icons img {
    width: 39px;
    height: 39px;
}
