{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container container-form">
    <h1 class="text-Left mb-4">Iniciar Sesión</h1>
    <div class="shadow p-3 rounded border border-2 border-black">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email(class="form-control", id="email") }}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password(class="form-control", id="password") }}
                </div>
                <div>
                    <p>No tienes cuenta? <a href="{{ url_for('register') }}" class="text-decoration-none">Regístrate</a></p>
                </div>

                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}