{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container container-body">
    {% if user %}
    <h1>¡Bienvenido {{ user.first_name }}!</h1>
    <div class="shadow p-3 rounded border border-2 border-black">
        <h2>Perfil</h2>
        <form method="POST" action="{{ url_for('perfil') }}">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-6 col-perfil">
                    <h3>Información Personal</h3>
                    <div class="mb-3">
                        {{ form.first_name.label(class="form-label") }}
                        {{ form.first_name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.last_name.label(class="form-label") }}
                        {{ form.last_name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" readonly>
                    </div>
                </div>
                <div class="col-6 col-perfil">
                    <h3>Información de la Cuenta</h3>
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="created_at" class="form-label">Fecha de Creación</label>
                        <input type="text" class="form-control" id="created_at" name="created_at" value="{{ user.created_at }}" readonly>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{{ url_for('home') }}" class="btn btn-danger">Salir</a>
                <a href="{{ url_for('logout') }}" class="btn btn-secondary d-flex align-items-center justify-content-center">Cerrar Sesión</a>
            </div>
        </form>
    </div>
    {% else %}
    <p>No se encontró la información del usuario.</p>
    {% endif %}
</div>
{% endblock %}