{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container container-form">
    <h1 class="text-Left mb-4">Registrarse</h1>
    <div class="shadow p-3 rounded border border-2 border-black">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" name="apellidos" id="apellidos" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" name="password" id="password" class="form-control">
                </div>
                <div>
                    <p>Ya tienes cuenta? <a href="{{ url_for('login') }}" class="text-decoration-none">Inicia Sesion</a></p>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}