{% extends 'base.html' %}

{% block title %}Reserva{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{{ url_for('reserva2') }}">
        <input type="hidden" name="button_id" value="libre">
        <button type="submit" class="btn btn-parking-libre">Libre</button>
    </form>
    <form method="POST" action="{{ url_for('reserva2') }}">
        <input type="hidden" name="button_id" value="reservado">
        <button type="submit" class="btn btn-parking-reservado">Reservado</button>
    </form>
    <form method="POST" action="{{ url_for('reserva2') }}">
        <input type="hidden" name="button_id" value="ocupado">
        <button type="submit" class="btn btn-parking-ocupado">Ocupado</button>
    </form>
</div>
{% endblock %}